{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "no-prose-wrap": true,
    "trailingComma": "all",
    "comma-dangle": [2, "always-multiline"],
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 4
            }
        }
    ],
    "importOrder": [
        "^@(\\w+)/(.*)$",
        "^([@/])(.*)(?<!.less|.svg|.png|.jpg|.svga|.css)$",
        "^([./])(.*)(?<!.less|.svg|.png|.jpg|.svga|.css)$",
        "(\\.css|\\.less|\\.jpg|\\.png|\\.svg|\\.svga)$"
    ],
    "importOrderSeparation": true
}
